<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: brown;">
<h1>CUSTOMERS PAGE</h1>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>City</th>
            <th>Age</th>
            <th>...</th>
        </tr>
    </thead>
<table>
    <a href="{{ url_for('load_add_customer_page') }}">ADD A CUSTOMER</a>
<input type="text">
<button>SEARCH</button>
</body>
</html>