<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
</head>
<body style="background-color: rgb(172, 102, 102);">
<h1>CUSTOMERS PAGE</h1>
<button>SEARCH</button><input type="text">
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>City</th>
            <th>Age</th>
            <th>...</th>
        </tr>
        {% for customer in customers %}
        <tr>
            <td>{{ customer[0] }}</td>
            <td>{{ customer[1] }}</td>
            <td>{{ customer[2] }}</td>
            <td>{{ customer[3] }}</td>
            <td><button onclick="delUser('{{customer[0] }}')"> {{ customer[0] }} - delete</button></td>
            <td><button onclick="updUser('{{customer[0] }}')"> {{ customer[0] }} - upd</button></td>
            
        </tr>
        {% endfor %}
    </thead>
<table>
    
    <hr>
    <form method="POST" action="/new_customer">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="city">City:</label>
        <input type="text" id="city" name="city" required>
    </div>
    <div>
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required>
    </div>
    <div>
        <button type="submit">ADD CUSTOMER</button>
    </div>
    </form> 

    <script>
        function updUser(index_to_update){
            var newName = document.getElementById('name').value;
            var newCity = document.getElementById('city').value;
            var newAge = document.getElementById('age').value;
            axios.put(`/upd/${Index_to_update}`, {name:newName, city:newCity, age:newAge})
        }
        function delUser(index_to_delete){
            axios.delete(`/del/${index_to_delete}`)
        }
        
    </script>
</body>
</html>

