<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
</head>
<body style="background-color: brown;">
<h1>CUSTOMERS PAGE</h1>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>City</th>
            <th>Age</th>
            <th>...</th>
        </tr>
        {% for item in data %}
        <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
            <td><button onclick="delUser('{{item[0] }}')"> {{ item[0] }} - delete</button></td>
            <td><button onclick="updUser('{{item[0] }}')"> {{ item[0] }} - upd</button></td>
            
        </tr>
        {% endfor %}
    </thead>
<table>
    <a href='/add_customer'>ADD A CUSTOMER</a>
<input type="text">
<button>SEARCH</button>
</body>
</html>

